version: "3.9"

services:
  backend:
    build: .
    container_name: spring-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mi_basedatos
      SPRING_DATASOURCE_USERNAME: gaa
      SPRING_DATASOURCE_PASSWORD: 12345
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: mi_basedatos
      POSTGRES_USER: gaa
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
